/* #nav1{  
    background-color: cadetblue;
    opacity: 0.5; 
    filter:(opacity=50);       
} */

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
    }
